<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <title>Document</title>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark" aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img th:src="@{assets/logo.png}" width="50" height="50" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
    <form th:action="@{/company/save}" th:object="${company}" enctype="multipart/form-data" method="post">
        <article class="my-3 container" id="input-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="input03" class="form-label">Company name</label>
                    <input type="text" class="form-control" th:field="*{name}" id="input03" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                <div class="col-md-4">
                    <label for="input09" class="form-label">Company Slogan</label>
                    <input type="text" class="form-control" th:field="*{slogan}" id="input09" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                <label for="input0" class="form-label">Company nif</label>
                <input type="text" class="form-control" th:field="*{nif}" id="input0" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="input04" class="form-label">Company stat</label>
                <input type="text" class="form-control" th:field="*{stat}" id="input04" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="input01" class="form-label">Company number</label>
                <input type="text" class="form-control" th:field="*{number}" id="input01" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
                <div class="col-md-4">
                    <label for="input02" class="form-label">Company email</label>
                    <input type="text" class="form-control" th:field="*{address}" id="input02" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="input06" class="form-label">Company email</label>
                    <input type="email" class="form-control" th:field="*{email}" id="input06" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
        </article>
        <button class="btn btn-info col-3 offset-9 submit-button">submit</button>
    </form>
</body>

</html>