<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <title>Document</title>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark" aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img th:src="@{assets/logo.png}" width="50" height="50" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
    <form th:action="@{/new}" th:object="${newUser}" enctype="multipart/form-data" method="post">
        <article class="my-3 container" id="input-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="input10" class="form-label">userName</label>
                    <input type="text" class="form-control" th:field="*{userName}" id="input10" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="input09" class="form-label">password</label>
                    <input type="text" class="form-control" th:field="*{password}" id="input09" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
        <button class="btn btn-info col-3 offset-9 submit-button">submit</button>
            </div>
        </article>
    </form>
    </nav>
</body>

</html>