<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bootstrap.css">
    <title>Document</title>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark" aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img th:src="@{assets/logo.png}" width="50" height="50" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<main class="container">
        <img th:src="@{'data:image/*;base64,'+${employee.photo}}"/>
        <article class="my-3 container" id="input-group">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label lead"><strong>Firstname</strong></label>
                    <div>
                        <p class="lead"><td th:text="${employee.firstName}"/></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label lead"><strong>Lastname</strong></label>
                    <div>
                        <p class="lead"><td th:text="${employee.lastName}"/></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label lead"><strong>Birthdate</strong></label>
                    <div>
                        <p class="lead"><td th:text="${employee.birthDate}"/></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label lead"><strong>SEX</strong></label>
                <div>
                    <p class="lead"><td th:text="${employee.sex}"/></p>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label lead"><strong>CIN Number</strong></label>
                <div>
                    <p class="lead"><td th:text="${employee.cinNumber}"/></p>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label lead"><strong>CIN creationDate</strong></label>
                <div>
                    <p class="lead"><td th:text="${employee.cinCreationDate}"/></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label lead"><strong>Email perso</strong></label>
                    <div>
                        <p class="lead"><td th:text="${employee.emailPerso}"/></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label lead"><strong>Email pro</strong></label>
                    <div>
                        <p class="lead"><td th:text="${employee.emailPro}"/></p>
                    </div>
                </div>
            </div>
            <div>
                <label class="form-label lead"><strong>cnaps</strong></label>
                <div>
                    <p class="lead"><td th:text="${employee.cnaps}"/></p>
                </div>
            </div>
            <div>
                <label class="form-label lead"><strong>Entrance date</strong></label>
                <div>
                    <p class="lead"><td th:text="${employee.date_entre}"/></p>
                </div>
            </div>
            <div>
                <label class="form-label lead"><strong>Leaving date</strong></label>
                <div>
                    <p class="lead"><td th:text="${employee.date_sortie}"/></p>
                </div>
            </div>
            <div>
                <label class="form-label lead"><strong>phone numbers</strong></label>
                <td th:each="phoneNumber :${employee.phoneNumberList}">
                    <div>
                        <span th:text="${phoneNumber.countryCode.code}"/><span th:text="${phoneNumber.value}"/>
                    </div>
                </td>
            </div>
        </article>
    </main>
</body>

</html>