<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark" aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img th:src="@{assets/logo.png}" width="50" height="50" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<form th:object="${userDetails}" th:action="@{/authentification}" method="get">
    <article class="my-3 container" id="input-group">
        <div class="row">
            <div class="col-md-4">
                <label for="input10" class="form-label">userName</label>
                <input type="text" class="form-control" th:field="*{userName}" id="input10" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="input09" class="form-label">password</label>
                <input type="text" class="form-control" th:field="*{password}" id="input09" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="row">
                <button class="btn btn-info col-3 offset-9 submit-button">SignUp</button>
                <a th:href="@{/createUser}" class="col-3">SignIn</a>
            </div>
        </div>
    </article>
</form>
</nav>
</body>
</html>